<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google" content="notranslate">
    <title>SadDinamo parsing tks</title>
    {% load static %}
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/ajax.js' %}"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
</head>

<body data-bs-theme="dark">
<!--   Main upper menu   -->
<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'welcome_screen' %}"><i
                class="fa-solid fa-house"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownReports" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">User menu
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="nav-item">
                            <a class="dropdown-item" href="{% url 'shares_list' %}">
                                <i class="fa-solid fa-rectangle-list"></i> Shares report</a>
                        </li>
                        <li class="nav-item">
                            <form action="{% url 'get_tks_shares' %}">
                                {% csrf_token %}
                                <button id="get-tks-shares-btn" class="dropdown-item border-0">
                                    <i class="fa-solid fa-bolt"></i> Get tks shares
                                </button>
                            </form>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" href="{% url 'news_table_report' page=1 %}">
                                <i class="fa-solid fa-rectangle-list"></i> News report</a>
                        </li>
                        <li class="nav-item">
                            <button id="yahoo_parser_news_show-btn" class="dropdown-item border-0">
                                <i class="fa-solid fa-bolt"></i> Parse yahoo tickers news
                            </button>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" href="{% url 'news_key_words_list' %}">
                                <i class="fa-solid fa-gears"></i> News key-words management</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownActions" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Admin menu
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="nav-item">
                            <a class="dropdown-item" href="{% url 'preferences' %}">
                                <i class="fa-solid fa-gears"></i> Preferences</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" href="{% url 'ttest' %}">
                                <i class="fa-solid fa-microscope"></i> Test action </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div>
                <div id="updating-news-label" class="small mb-0 mx-0 navbar-text d-none"></div>
                <i id="updating-news-wheel" class="fa-solid fa-cog fa-spin d-none"></i>
                <div class="progress" style="height: 3px;">
                    <div class="progress-bar bg-secondary" id="updating-news-progressbar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
</nav>

<!--   Toasts section   -->
<div class="toast-container position-absolute top-2 end-0" style="z-index:2" id="toasts-section">
    {% if messages %}
    {% for message in messages %}
    <div class="toast align-items-center text-white bg-{% if message.tags %}{{ message.tags }}{% endif %} border-0"
         role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
        <div class="d-flex">
            <div class="toast-body">
                {{ message }}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>

<!--  Progress bar in modal window: parsing Yahoo.Finance news  -->
<div class="modal fade" id="yahooFinanceProgressBarModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="yahooFinanceProgressBarModalLabel">Parsing Yahoo.Finance news</h5>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column">
                    <div class="progress">
                        <div id="yahooFinanceProgressBar"
                             class="progress-bar progress-bar-striped progress-bar-animated"
                             role="progressbar"
                             style="width: 0%;" aria-valuenow="0"
                             aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    <div id="yahooFinanceProgressBarLabel" class="mr-auto"></div>
                </div>
            </div>

            <div class="modal-footer d-flex flex-row">
                <a id="yahoo_parser_news-btn" href="{% url 'yahoo_parser_news'%}" class="btn btn-primary col col-3">
                    Run
                </a>
                <div class="flex-grow-1"></div>
                <button type="button" class="btn btn-secondary col col-3" data-bs-dismiss="modal">
                    Hide
                </button>
            </div>
        </div>
    </div>
</div>

{% block content %}
{% endblock %}

<script src="{% static 'js/toasts.js' %}"></script>
<script src="{% static 'js/yahooFinanceProgressBarModal.js' %}"></script>

</body>

</html>