{% extends 'base.html' %}

{% block content %}

<div class="d-flex my-2">
    <h2 class="mx-auto">News table report</h2>
</div>

{{ page }}

<div class="d-flex">
    <div class="mx-auto d-flex flex-wrap justify-content-center col-10">

        <nav aria-label="..." class="">
            <ul class="pagination">
                {% if news_list.has_previous %}
                <li class="page-item">
                    {% if search %}
                    <p>123</p>
                    <a class="page-link" href=" {{ request.path }}/1/&val={{ search }}">First page</a>
                    {% else %}
                    <a class="page-link" href=" {% url 'news_table_report' 1 %}">First page</a>
                    {% endif %}
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">First page</a>
                </li>
                {% endif %}

                {% if news_list.has_previous %}
                <li class="page-item">
                    {% if search %}
                    <a class="page-link" href=" {{ request.path }}?page={{ page_obj.previous_page_number }}&val={{ search }} ">&laquo</a>
                    {% else %}
                    <a class="page-link" href=" {% url 'news_table_report' news_list.previous_page_number %} ">&laquo</a>
                    {% endif %}
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&laquo</a>
                </li>
                {% endif %}

                {% for n in news_list.paginator.page_range %}
                {% if news_list.number == n %}
                <li class="page-item active">
                    {% if search %}
                    <a class="page-link" href="{{ request.path }}?page={{ n }}&val={{ search }}">{{ n }}</a>
                    {% else %}
                    <a class="page-link" href="{% url 'news_table_report' n %}">{{ n }}</a>
                    {% endif %}
                </li>
                {% elif n|add:-4 >= news_list.number and n <= 7 %}
                <li class="page-item">
                    {% if search %}
                    <a class="page-link" href="{% url 'news_table_report' n %}&val={{ search }}">{{ n }}</a>
                    {% else %}
                    <a class="page-link" href="{% url 'news_table_report' n %}">{{ n }}</a>
                    {% endif %}
                </li>
                {% elif n|add:4 <= news_list.number and n >= news_list.paginator.num_pages|add:-6 %}
                <li class="page-item">
                    {% if search %}
                    <a class="page-link" href="{{ request.path }}?page={{ n }}&val={{ search }}">{{ n }}</a>
                    {% else %}
                    <a class="page-link" href="{% url 'news_table_report' n %}">{{ n }}</a>
                    {% endif %}
                </li>
                {% elif n >= news_list.number|add:-3 and n <= news_list.number|add:3 %}
                <li class="page-item">
                    {% if search %}
                    <a class="page-link" href="{{ request.path }}?page={{ n }}&val={{ search }}">{{ n }}</a>
                    {% else %}
                    <a class="page-link" href="{% url 'news_table_report' n %}">{{ n }}</a>
                    {% endif %}
                </li>
                {% endif %}
                {% endfor %}

                {% if news_list.has_next %}
                <li class="page-item">
                    {% if search %}
                    <a class="page-link" href=" {{ request.path }}?page={{ page_obj.next_page_number }}&val={{ search }} ">&raquo</a>
                    {% else %}
                    <a class="page-link" href=" {% url 'news_table_report' news_list.next_page_number %} ">&raquo</a>
                    {% endif %}
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&raquo</a>
                </li>
                {% endif %}

                {% if news_list.number != news_list.paginator.num_pages %}
                <li class="page-item">
                    {% if search %}
                    <a class="page-link" href=" {{ request.path }}?page={{ paginator.num_pages }}&val={{ search }} ">Last page</a>
                    {% else %}
                    <a class="page-link" href=" {% url 'news_table_report' news_list.paginator.num_pages %} ">Last page</a>
                    {% endif %}
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Last Page</a>
                </li>
                {% endif %}
            </ul>
        </nav>

        <div class="mx-0 mx-md-2"></div>
        <form class="d-flex mb-4 col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 col-xxl-3">
            <input class="form-control me-2" name="val" type="search" placeholder="Search by ticker or name" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
    </div>
</div>

<div id="newstablewrapper" class="col col-11 mx-auto">
    <div class="table-responsive">
        <table id="newstable" class="table table-striped table-bordered table-sm">
            <thead>
            <!--            <th><input type="checkbox" id="checkall"></th>-->
            <th class="text-center"><h3>Title</h3></th>
            <th class="text-center"><h3>Description</h3></th>
            </thead>
            <tbody>
            {% for news_item in news_list %}
            <tr>
                <!--                <td><input type="checkbox" class="checkthis"></td>-->
                <td><p><a href="{{ news_item.link }}" target="_blank">{{ news_item.title }}</a></p>
                    {{ news_item.pubDate|date:"Y-M-d H:m" }}
                </td>
                <td>{{ news_item.description }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}