{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="d-flex my-2">
    <h2 class="mx-auto">Keyword deletion</h2>
</div>

<div class="col col-12 d-flex justify-content-center">
    <form action="{{ news_key_word.get_delete_url }}" method="post" class="d-flex flex-column justify-content-center">

        {% csrf_token %}

        <p>Are You sure to delete "{{ news_key_word.keyword }}"?</p>
        <div class="d-flex flex-row col col-12 justify-content-between">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'news_key_words_list' %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>

{% endblock %}
