{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include "parser/preferencesModalCreate.html" %}

<div id="buttonsectionwrapper" class="d-flex flex-row my-2">
    <div>
        <button type="button" id="showModalNewPreference" class="btn btn-success mx-2">
            <i class="fa-solid fa-sheet-plastic"></i> Add new preference
        </button>
    </div>
    <div>
        <button type="button" id="checkDefaultPreferences" class="btn btn-outline-secondary mx-2">
            <i class="fa-solid fa-check-to-slot"></i> Check default preferencies
        </button>
    </div>
        <div>
        <button type="button" id="resetToDefaultPreferences" class="btn btn-outline-danger mx-2">
            <i class="fa-solid fa-recycle"></i> Reset to defaults
        </button>
    </div>
</div>


<div class="d-flex my-2">
    <h2 class="mx-auto">Preferences</h2>
</div>


<div id="prefstablewrapper" class="col col-10 mx-auto">
    <div class="table-responsive">
        <table id="prefstable" class="table table-striped table-bordered table-sm">
            <thead>
            <th class="text-center col col-2"></th>
            <th class="text-center col col-4"><h3>Parameter</h3></th>
            <th class="text-center col col-6"><h3>Value</h3></th>
            </thead>
            <tbody>
            {% for preference in preferences %}
            <tr>
                <td>
                    <button type="button" class="btn btn-outline-secondary">
                        <i class="fa-solid fa-pencil"></i> Change
                    </button>
                    <button type="button" class="btn btn-outline-secondary">
                        <i class="fa-solid fa-trash"></i> Delete
                    </button>
                </td>
                <td>{{ preference.name }}</td>
                <td>{{ preference.value }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="{% static 'js/addNewPreferenceModal.js' %}"></script>

{% endblock %}