{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="d-flex my-2">
    <h2 class="mx-auto">Preference modification</h2>
</div>

<div class="col col-8 mx-auto">
    <form action="{{ preference.get_update_url }}" method="post" class="d-flex flex-column justify-content-center">

        {% csrf_token %}

        {% for field in form %}
        <div class="form-group col-12 mb-2">
            {{ field.label }} {{ field }}
        </div>
        {% endfor %}

        <div class="d-flex flex-row col col-12">
            <button class="btn btn-success me-2" value="OK" type="submit">
                <i class="fa-solid fa-floppy-disk"></i> Save
            </button>
            <a href="{% url 'preferences' %}" class="btn btn-secondary"> Go back</a>
        </div>

    </form>
</div>

{% endblock %}