{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row mt-2 d-flex align-items-start">
        <div class="col col-12 col-lg-6" id="newsColumn">
            <h5 class="text-center">Latest news</h5>
            <div class="col">
                <div id="top-news-section" class="col d-flex justify-content-evenly flex-wrap"></div>
            </div>
        </div>
        <div class="col col-auto card px-0 mx-2">
            <h5 class="text-center card-header bg-black bg-opacity-10">Indexes</h5>
            <div class="card-body p-0">
                <table class="table table-hover table-sm w-100 mb-0">
                    <thead>
                    <tr class="text-center bg-black bg-opacity-10">
                        <td><h6 class="mb-0">Index</h6></td>
                        <td><h6 class="mb-0">Value</h6></td>
                        <td><h6 class="mb-0">Daily change</h6></td>
                        <td><h6 class="mb-0"></h6></td>
                    </tr>
                    </thead>
                    <tbody class="border-top-0">
                    <tr class="bg-light" id="tr-cnn-fear-and-greed">
                        <td class="py-0" id="cnn-fear-and-greed-name">CNN fear and greed index</td>
                        <td class="py-0" id="cnn-fear-and-greed-value"></td>
                        <td class="py-0" id="cnn-fear-and-greed-change"></td>
                        <td class="py-0" id="cnn-fear-and-greed-comment"></td>
                    </tr>
                    <tr class="bg-light" id="tr-finviz-GC">
                        <td class="py-0" id="tr-finviz-GC-name"></td>
                        <td class="py-0" id="tr-finviz-GC-value"></td>
                        <td class="py-0" id="tr-finviz-GC-change"></td>
                        <td class="py-0" id="tr-finviz-GC-comment"></td>
                    </tr>
                    <tr class="bg-light" id="tr-finviz-QA">
                        <td class="py-0" id="tr-finviz-QA-name"></td>
                        <td class="py-0" id="tr-finviz-QA-value"></td>
                        <td class="py-0" id="tr-finviz-QA-change"></td>
                        <td class="py-0" id="tr-finviz-QA-comment"></td>
                    </tr>
                    <tr class="bg-light" id="tr-finviz-ES">
                        <td class="py-0" id="tr-finviz-ES-name"></td>
                        <td class="py-0" id="tr-finviz-ES-value"></td>
                        <td class="py-0" id="tr-finviz-ES-change"></td>
                        <td class="py-0" id="tr-finviz-ES-comment"></td>
                    </tr>
                    <tr class="bg-light" id="tr-finviz-NQ">
                        <td class="py-0" id="tr-finviz-NQ-name"></td>
                        <td class="py-0" id="tr-finviz-NQ-value"></td>
                        <td class="py-0" id="tr-finviz-NQ-change"></td>
                        <td class="py-0" id="tr-finviz-NQ-comment"></td>
                    </tr>
                    <tr class="bg-light" id="tr-finviz-NG">
                        <td class="py-0" id="tr-finviz-NG-name"></td>
                        <td class="py-0" id="tr-finviz-NG-value"></td>
                        <td class="py-0" id="tr-finviz-NG-change"></td>
                        <td class="py-0" id="tr-finviz-NG-comment"></td>
                    </tr>
                    <tr class="bg-light" id="tr-finviz-ZW">
                        <td class="py-0" id="tr-finviz-ZW-name"></td>
                        <td class="py-0" id="tr-finviz-ZW-value"></td>
                        <td class="py-0" id="tr-finviz-ZW-change"></td>
                        <td class="py-0" id="tr-finviz-ZW-comment"></td>
                    </tr>
                    <tr class="bg-light" id="tr-finviz-PL">
                        <td class="py-0" id="tr-finviz-PL-name"></td>
                        <td class="py-0" id="tr-finviz-PL-value"></td>
                        <td class="py-0" id="tr-finviz-PL-change"></td>
                        <td class="py-0" id="tr-finviz-PL-comment"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col" id="finvizFuturesContainer">
                    <div class="text-primary">
                        <i class="fa-solid fa-circle-exclamation"></i>
                    </div>
                    <div id="finvizFuturesGold"></div>
                    <div id="finvizFuturesBrent"></div>
                    <div id="finvizNaturalGas"></div>
                    <div id="finvizNasdaq100"></div>
                    <div class="text-danger">
                        <i class="fa-solid fa-circle-down"></i>
                    </div>
                    <div class="text-success">
                        <i class="fa-solid fa-circle-up"></i>
                    </div>
                    <div class="text-secondary">
                        <i class="fa-solid fa-circle-right"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-auto card px-0 mx-2">
            <h5 class="text-center card-header bg-black bg-opacity-10">Nasdaq fails to deliver list</h5>
            <div class="card-body p-0">
                <table class="table table-hover table-sm w-100 mb-0">
                    <thead>
                    <tr class="text-center bg-black bg-opacity-10">
                        <td><h6 class="mb-0">Ticker</h6></td>
                        <td><h6 class="mb-0">Ticker name</h6></td>
                        <td><h6 class="mb-0">Trade status</h6></td>
                    </tr>
                    </thead>
                    <tbody class="border-top-0">
                    {% for fail in fails_to_deliver %}
                    {% if fail.5|striptags == 'tradable' %}
                    <tr class="table-danger">
                        {% else %}
                    <tr class="bg-light">
                        {% endif %}
                        <td class="py-0">
                            <a href="https://finance.yahoo.com/quote/{{ fail.0|striptags }}/key-statistics?p={{ fail.0|striptags }}"
                               target="_blank">{{ fail.0|striptags }}</a></td>
                        <td class="py-0">{{ fail.1|striptags }}</td>
                        <td class="py-0 small">{{ fail.5|striptags }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer text-muted text-center py-0">
                <a href="https://nasdaqtrader.com/trader.aspx?id=RegSHOThreshold" target="_blank">
                    <span class="small">link to source</span>
                </a>
            </div>
        </div>
        <div class="col col-auto card px-0 mx-2">
            <a target="_blank" href="https://finviz.com/screener.ashx?v=111&f=cap_microover&o=-shortinterestshare">
                Short squeeze
            </a>
            <p>GetCandles !!! - volume by day increments -> graph</p>
        </div>
    </div>
</div>

<script src="{% static 'js/cnnFearAndGreed.js' %}"></script>
<script src="{% static 'js/finvizFutures.js' %}"></script>
<script src="{% static 'js/getTopNews.js' %}"></script>
<script src="{% static 'js/update-news-status.js' %}"></script>

{% endblock %}